.doc{
    background-color: #000000;
    color: white;
}

.transition{
    font-size : 100px;
}
.records {
	margin: 40px 0px 40px 0px;
}

/* Profile Card */
.card-profile {
  width: 340px;
  margin: 50px auto;
  background-color: #e6e5e1;
  border-radius: 0;
  border: 0;
  box-shadow: 1em 1em 2em rgba(0, 0, 0, 0.2);
}
.card-profile .card-img-top {
  border-radius: 0;
}
.card-profile .card-img-profile {
  max-width: 80%;
  border-radius: 50%;
  margin-top: -95px;
  margin-bottom: 35px;
  border: 5px solid #e6e5e1;

}
.card-profile .card-title {
  margin-bottom: 50px;
}
.card-profile .card-title small {
  display: block;
  font-size: .6em;
  margin-top: .2em;
}
.card-profile .card-links {
  margin-bottom: 25px;
}
.card-profile .card-links .fab {
  margin: 0 1em;
  font-size: 1.6em;
}
.card-profile .card-links .fab:focus, .card-profile .card-links .fab:hover {
  text-decoration: none;
}
.card-profile .card-links .fab.fa-dribbble {
  color: #ea4b89 !important;
  font-weight: bold;
}
.card-profile .card-links .fab.fa-dribbble:hover {
  color: #e51d6b !important;
}
.card-profile .card-links .fab.fa-twitter {
  color: #68aade !important;
}
.card-profile .card-links .fab.fa-twitter:hover {
  color: #3e92d5 !important;
}
.card-profile .card-links .fab.fa-facebook {
  color: #3b5999 !important;
}
.card-profile .card-links .fab.fa-facebook:hover {
  color: #2d4474 !important;
}

/** Admin.php section **/
.navigate {
    margin: 1em;
    padding: 2em 0;
}
.news {
    margin: 1em 0;
    padding: 2em;
}



/** Section End **/

/** Chatroom **/
.chatroom {
 
		background: none;
		 
		margin: 0;
		 
		position: fixed;
		 
		bottom: 0;
		 
		right: 0;
		 
		width: 70px;
		 
		height: 70px;
		 
		z-index: 100;
		 
		display: none;
		 
		text-decoration: none;
		 
		color: #ffffff;
		 
		background-color: #ff9000;
		float: right;
}

.chatroom i {
	font-size: 60px;
}

@media only screen and (max-width : 540px) 
            {
                .chat-sidebar
                {
                    display: none !important;
                }
                
                .chat-popup
                {
                    display: none !important;
                }
            }
            
            
            .chat-sidebar
            {
                width: 200px;
                position: fixed;
                height: 100%;
                right: 0px;
                top: 0px;
                padding-top: 10px;
                padding-bottom: 10px;
                border: 1px solid rgba(29, 49, 91, .3);
            }
            
            .sidebar-name 
            {
                padding-left: 10px;
                padding-right: 10px;
                margin-bottom: 4px;
                font-size: 12px;
            }
            
            .sidebar-name span
            {
                padding-left: 5px;
            }
            
            .sidebar-name a
            {
                display: block;
                height: 100%;
                text-decoration: none;
                color: inherit;
            }
            
            .sidebar-name:hover
            {
                background-color:#e1e2e5;
            }
            
            .sidebar-name img
            {
                width: 32px;
                height: 32px;
                vertical-align:middle;
            }
            
            .popup-box
            {
                display: none;
                position: fixed;
                bottom: 0px;
                right: 220px;
                height: 285px;
                background-color: rgb(237, 239, 244);
                width: 300px;
                border: 1px solid rgba(29, 49, 91, .3);
            }
            
            .popup-box .popup-head
            {
                background-color: #6d84b4;
                padding: 5px;
                color: white;
                font-weight: bold;
                font-size: 14px;
                clear: both;
            }
            
            .popup-box .popup-head .popup-head-left
            {
                float: left;
            }
            
            .popup-box .popup-head .popup-head-right
            {
                float: right;
                opacity: 0.5;
            }
            
            .popup-box .popup-head .popup-head-right a
            {
                text-decoration: none;
                color: inherit;
            }
            
            .popup-box .popup-messages
            {
                height: 100%;
                overflow-y: scroll;
            }
        
            /* Doctor */
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 550px}
    
/* Set gray background color and 100% height */
.sidenav {
  background-color: #f1f1f1;
  height: 100%;
}
    
/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
  .row.content {height: auto;} 
}

.content{
  width: 80%;
  height: 100%;
}

.dr-name{
  font-family: "Century Gothic";
  
  font-variant-caps: small-caps;
}

.img-thumb{
  width:45px; 
  height: 45px;
  padding-left: 9%;
}

.img-thumb img{
  width:160px;
height: 105px;
}

.drop-width{
  width: 600px !important;
}

.details{
  border-left:3px solid #ded4da;
}

.title-pad{
  font-family: "Century Gothic";
  padding-left: 4%;
}

.bottomright {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 18px;
}

.hos-header{
font-family : "Century Gothic";
}

.patient, .tt-query, .tt-hint {
	border: 2px solid #CCCCCC;
	border-radius: 8px;
	font-size: 24px;
	height: 30px;
	line-height: 30px;
	outline: medium none;
	padding: 8px 12px;
	width: 396px;
}
.patient {
	background-color: #FFFFFF;
}
.patient:focus {
	border: 2px solid #0097CF !important;
}
.tt-query {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
	color: #999999;
}
.tt-dropdown-menu {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 12px;
	padding: 8px 0;
	width: 422px;
}
.tt-suggestion {
	font-size: 24px;
	line-height: 24px;
	padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
	background-color: #0097CF;
	color: #FFFFFF;
}
.tt-suggestion p {
	margin: 0;
}